<h1><%= @name %></h1>

<h3><%= "Where? #{@location}" %></h3>
<% if @date != nil %>  
  <h3><%= "When?" %> <span><%= "#{@date}" %></span> </h3>
<% end %>

<form action="/meetups/<%= @id %>/join" method="post">
  <% if @users.none? {|user| user.id == session[:user_id]} %>
    <input type="submit" value="Join <%= @name %>">
  <% end %>
</form>

<p><%= @description %></p>

<div class="members">
  <% if @users.any? {|user| user.id == session[:user_id]} %>
    <ul>
      <% @users.each do |user| %>
	    <li><%= user.username %></li>
	    <li> <img src="<%= user.avatar_url %>"/> </li>
      <% end %>
    </ul>

    <ul>
      <% @comments.each do |comment| %>
	    <li><p class="comment"> <%= comment.body %> </p></li>
	    <li><%= comment.user.username %></li>
      <% end %>
    </ul>
    
    <form action="/meetups/<%= @id %>/comments" method="post">

      <label for="body"> Enter A Comment </label>

      <input id="body" name="body" type="text">

      <input type="submit" value="Submit">
    
    </form>

  <% end %>
</div>

