<h1><%= @meetup.name %></h1>

<h3><%= "Where? #{@meetup.location}" %></h3>
<% if @meetup.date != nil %>  
  <h3><%= "When?" %> <span><%= "#{@meetup.date}" %></span> </h3>
<% end %>


<% if @meetup.users.none? {|user| user.id == session[:user_id]} %>
  <form action="/meetups/<%= @meetup.id %>/join" method="post">
    <input type="submit" value="Join <%= @meetup.name %>">
  </form>
<% else %>
  <form action="/meetups/<%= @meetup.id %>/leave" method="post">
    <input type="submit" value="Leave <%= @meetup.name %>">
  </form>
<% end %>


<p><%= @meetup.description %></p>

<div class="members">
  
  <% if @meetup.users.any? {|user| user.id == session[:user_id]} %>
    <h2> Attending </h2>
    <ul>
      <% @meetup.users.each do |user| %>
	    <li><%= user.username %></li>
	    <li> <img src="<%= user.avatar_url %>"/> </li>
      <% end %>
    </ul>

    <h3> Leave a Comment </h3>
    <ul>
      <% @meetup.comments.each do |comment| %>
	    <div class="comment"> 
        <li><p> <%= comment.body %> </p></li>
	      <li><%= comment.user.username %></li>
      </div>
      <% end %>
    </ul>
    
    <form action="/meetups/<%= @meetup.id %>/comments" method="post">

      <label for="body"> Enter A Comment </label>

      <input id="body" name="body" type="text">

      <input type="submit" value="Submit">
    
    </form>

  <% end %>
</div>

